.sidebar {
  &__add {
    flex: 0 0;
    margin-bottom: 16px;
  }
}

.add {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 8px;

  @media (max-height: 768px) {
    flex-direction: column;
  }

  @media (max-height: 400px) {
    margin-bottom: 4px;
    padding: 0 4px;
  }

  &__button {
    display: block;
    padding: 6px 24px;
    font-family: 'Candara';
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #002a80;
    border-radius: 2px;
    cursor: pointer;

    @media (max-height: 768px) {
      text-align: center;
      
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}