.header {
	padding: 8px;
	background-color: #002a80;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-wrap: unset;

	@media (max-height: 400px) {
		padding: 4px;
	}

	&__auth {
		display: block;
		padding: 4px 16px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 12px;
		color: #999;
		text-transform: uppercase;
		border-radius: 2px;
		background-color: #002a80;
		cursor: pointer;
		align-content: center;
	}
	
	&__svg {
		display: block;
		padding: 4px 16px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 12px;
		color: #999;
		text-transform: uppercase;
		border-radius: 2px;
		background-color: #002a80;
		cursor: pointer;
		text-align: center;
	}
}

.socials {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

h1{
	font-size: 15px;
	color: white;
	align-items: center;
	text-align: center;
	height: 50px;
}
svg{
	align-items: center;
}
.hello
{
	height: 50px;
	
}
